
@{
    ViewBag.Title = "Change Password Success";
}

<div class="row">
    &nbsp;
</div>

<div class="row" ng-controller="customerCtrl">
    <div class="addedit">
        <div class="larg-3 medium-3 hide-for-small-only columns">&nbsp;
            @*<div class="callout panel">
                Add Banner
            </div>*@
        </div>
        <div class="larg-6 medium-6 columns">
            <div class="panel">

                    <div class="row">
                        <div class="large-3 columns">&nbsp;</div>
                        <div class="large-6 columns">&nbsp;</div>
                        <div class="large-3 columns">&nbsp;</div>
                    </div>
                    <div class="row">
                        <div class="large-1 columns">&nbsp;</div>
                        <div class="large-8 columns"><label>Password has been changed successfully.</label></div>
                        <div class="large-1 columns">&nbsp;</div>
                    </div>
                <div class="row">
                    <div class="large-3 columns">&nbsp;</div>
                    <div class="large-6 columns">&nbsp;</div>
                    <div class="large-3 columns">&nbsp;</div>
                </div>
                    @*<div class="row">
                        <div class="large-3 columns">&nbsp;</div>
                        <div class="large-6 columns">
                            <label>Email / User Id</label>
                        </div>
                        <div class="large-3 columns">&nbsp;</div>
                    </div>
                    <div class="row">
                        <div class="large-3 columns">&nbsp;</div>
                        <div class="large-6 columns">
                            <label>Password</label>
                        </div>
                        <div class="large-3 columns">&nbsp;</div>
                    </div>
                    <div class="row">
                        <div class="large-5 columns">&nbsp;</div>
                        <div class="large-4 columns">
                            <input id="Submit1" class="small button radius round" type="submit" value="Login" />
                        </div>
                        <div class="large-3 columns">&nbsp;</div>
                    </div>*@
            </div>
        </div>
        <div class="larg-3 medium-3 hide-for-small-only columns">&nbsp;
            @*<div class="callout panel">
                Add Banner
            </div>*@
        </div>
    </div>
</div>


