@model BusinessLayer.ForgotPassword
@{
    ViewBag.Title = "Forgot password";
}
<div class="row" >
    <div class="addedit">
        <div class="larg-2 medium-2 hide-for-small-only columns">&nbsp;
            @*<div class="callout panel">
                Add Banner
            </div>*@
        </div>
        <div class="larg-8 medium-8 columns">
            <fieldset>
                <legend><b>Forgot Password</b></legend>
                <div class="panel">
                    @using (Html.BeginForm("ForgotPassword", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="large-3 columns">&nbsp;</div>
                            <div class="large-6 columns">@ViewBag.result</div>
                            <div class="large-3 columns">&nbsp;</div>
                        </div>
                        <div class="row">
                            <div class="large-3 columns">&nbsp;</div>
                            <div class="large-6 columns">
                                <label>Email</label>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @type = "email", @maxlength = "20", @placeholder = "Enter your email", @required = "" })
                            </div>
                            <div class="large-3 columns">&nbsp;</div>
                        </div>

                        <div class="row">
                            <div class="large-5 columns">&nbsp;</div>
                            <div class="large-4 columns">
                                <input id="Submit1" class="small button radius round" type="submit" value="Submit" />
                            </div>
                            <div class="large-3 columns">&nbsp;</div>
                        </div>
                    }
                </div>
            </fieldset>
        </div>
        <div class="larg-2 medium-2 hide-for-small-only columns">&nbsp;
            @*<div class="callout panel">
                Add Banner
            </div>*@
        </div>
    </div>
</div>
